llama_index==0.11.7
matplotlib==3.9.2
numpy==2.1.1
openai_whisper==20231117
pyannote.audio==3.2.0
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pydub==0.25.1
pylatex==1.4.2
python_magic==0.4.27
PyYAML==6.0.1
PyYAML==6.0.2
Requests==2.32.3
streamlit==1.35.0
torch==2.3.1
torchaudio==2.3.1
wordcloud==1.9.3
yt_dlp==2024.8.6
