matplotlib==3.6.1
pyannote.audio==3.2.0
pyannote.core==5.0.0
altair<5
pydub==0.25.1
PyLaTeX==1.4.1
python_magic==0.4.27
pytube==12.1.0
streamlit==1.14.0
torchaudio==0.11.0
openai_whisper==20231117
wordcloud==1.8.2.2
yt-dlp
